body {
    margin: 0;
    padding: 0;
    background:rgb(95, 195, 184);
  }
  
  .cup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    border: 10px solid #262626;
    border-top: 2px solid transparent;
    border-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(-45deg, palevioletred, coral, yellow, #23d5ab);
	background-size: 400% 400%;
	animation: filling 2s ease infinite;
    box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
  }
  

  .cup:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 160px;
    border: 10px solid #fff;
    right: -130px;
    top: 30px;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
  }
  
@keyframes filling {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
