
html,body {width:100%;height:100%;}

body {
  background:#F88379;
}

.icon {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: 38px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(-45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
}

.button {
    position: absolute;
    width: 100px;
    height: 50px;
    top: 5%;
    left: 90%;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Urbanist', sans-serif;
    color: #000;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
  }
  
  .button:hover {
    background: coral;
    color: #fff;
  }
#container {
  width: 90%;
  height: 90%;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
  background: linear-gradient(#A2EEF2,#fdd288,white);
  overflow: hidden;
}


.wave-01 {
  position: absolute;
  width: 200%;
  height: 300%;
  left: -25%;
  top: 50%;
  background-color: #006992;
  border-radius: 30%;
  animation: rotate 10s linear infinite;
  opacity: 0.8;
}


.wave-02 {
  position: absolute;
  width: 200%;
  height: 300%;
  left: -50%;
  top: 57%;
  background-color: #A2EEF2;
  border-radius: 43%;
  animation: rotate 7s linear infinite;
  opacity: 0.8;
}

.wave-03 {
  position: absolute;
  width: 200%;
  height: 300%;
  top: 60%;
  background-color: rgba(0,90,110);
  border-radius: 30%;
  animation: rotate 5s linear infinite;
  opacity: 0.8;
}


@keyframes rotate {
  100% { transform: rotate(360deg);}
}
