body {
    background:#F88379;
}

.icon {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
.arrow {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }

.arrow::after, .arrow::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: -8px;
    background-color: #fff;
  }
  
.arrow::after {
    top: -12px;
    transform: rotate(45deg);
  }
  
.arrow::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(-45deg);
  }

  .iconb {
    position: absolute;
    top: 90%;
    left: 10%;
    transform: translate(-50%,-50%);
    width: 80px;
    height: 60px;
    cursor: pointer;
  }
  
  .arrowb {
    position: absolute;
    top: 25px;
    width: 90%;
    height: 10px;
    background-color: #fff;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    animation: arrow 700ms linear infinite;
  }
  
  .arrowb::after, .arrowb::before {
    content: '';
    position: absolute;
    width: 60%;
    height: 10px;
    right: 38px;
    background-color: #fff;
  }
  
  .arrowb::after {
    top: -12px;
    transform: rotate(-45deg);
  }
  
  .arrowb::before {
    top: 12px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
    transform: rotate(45deg);
  }
  
p{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Urbanist', sans-serif;
}
p[tabindex] {
    transition-duration: 0;
    transition-delay: 99999s;
}

  
p[tabindex]:active {
    transition-delay: 0s;
    background-color: brown;
}

#tablecenter {
    margin-left: auto;
    margin-right: auto;
}
#tabledesign {
    color: white;
    border-color: burlywood;
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 10%;

}

#tabledesign:hover {
    background-color: coral;
        
}

#tabledesign:hover img {
    opacity: 0;
}
