body {
  background: #F88379;
}

.icon {
  position: absolute;
  top: 90%;
  left: 90%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrow::after, .arrow::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: -8px;
  background-color: #fff;
}

.arrow::after {
  top: -12px;
  transform: rotate(45deg);
}

.arrow::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
}

.iconb {
  position: absolute;
  top: 90%;
  left: 10%;
  transform: translate(-50%,-50%);
  width: 80px;
  height: 60px;
  cursor: pointer;
}

.arrowb {
  position: absolute;
  top: 25px;
  width: 90%;
  height: 10px;
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  animation: arrow 700ms linear infinite;
}

.arrowb::after, .arrowb::before {
  content: '';
  position: absolute;
  width: 60%;
  height: 10px;
  right: 38px;
  background-color: #fff;
}

.arrowb::after {
  top: -12px;
  transform: rotate(-45deg);
}

.arrowb::before {
  top: 12px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(45deg);
}

.center{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 10;
    left: 0;
    width: 75%;
    height: 50%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 100px 100px 10px 15px white; 
    transform: rotate(10deg);
}

.tree1{
    position: absolute;
    margin: auto;
    top: 0;
    right: 78%;
    bottom: 0;
    left: 0;
    width: 5%;
    height: 200%;
    background-color: #3B270C;
    transform: rotate(15deg);
}

.tree1 {
    background-image: linear-gradient(45deg, #997950 25%, transparent 25%), 
    linear-gradient(-45deg, #4B3A26 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #613613 75%), 
    linear-gradient(-45deg, transparent 75%, #7E481C 75%);
    background-size: 18px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }

  .tree2{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 80%;
    width: 5%;
    height: 200%;
    background-color: #3B270C;
    transform: rotate(-15deg);
}

.tree2 {
    background-image: linear-gradient(45deg, #997950 25%, transparent 25%), 
    linear-gradient(-45deg, #4B3A26 25%, transparent 25%), 
    linear-gradient(45deg, transparent 75%, #613613 75%), 
    linear-gradient(-45deg, transparent 75%, #7E481C 75%);
    background-size: 18px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  }

.command {
    top: 70%;
    left: 20%;
    font-size: 75px;
    position: absolute;
    font-family: 'Dancing Script', cursive;
    font-family: 'Urbanist', sans-serif;
    color: white;

}

.sun {
    position:relative;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 150px;
    width: 150px;
    background-color: #FDFD96;
    border-radius: 50%;
    -webkit-animation: sun 4s ease-in-out infinite;
    animation: sun 4s ease-in-out infinite;
  }
  
@keyframes sun {
    0% {
      transform: translateX(-900px) rotate(0deg);
    }
    100% {
      transform: translateX(900px) rotate(360deg);
    }
  }
